<!-- Header Section -->
<header class="header-container">
    <div class="header-content">
      <!-- Store Title -->
      <h1 class="store-title">
        💪 Tienda de Suplementos Pibcho
      </h1>
      <!-- Store Description -->
      <p class="store-description">
        Encuentra los mejores suplementos para llevar tu rendimiento al siguiente nivel.
      </p>
      <!-- CTA Button -->
    </div>
  </header>
  
  <!-- Main Section -->
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
  